  
@{
    ViewData["Title"] = "Home Page";
}
@using ActivityCenter.Models
<h1>Welcome to the Activity Center</h1>
<div class="main">
    <div class="index-form">@Html.Partial("./Partials/Login")</div>
    <div class="index-form">@Html.Partial("./Partials/Register")</div>
</div>
